@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif;
}

html, body {
    @apply h-full text-neutral-50;
}

header {
    @apply text-7xl text-center;
}

a {
    @apply no-underline;
}

canvas {
    @apply outline-black max-w-[800px] max-h-[800px];
}

.button {
    @apply p-2.5 m-1 bg-gray-300 outline-black text-center rounded shadow transition-colors cursor-pointer;
}

.button:hover {
    @apply bg-gray-400;
}

::backdrop {
    @apply bg-gray-900/20;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    @apply w-2.5;
}

::-webkit-scrollbar-track {
    @apply bg-black;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-700 shadow;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}

table {
    @apply outline outline-2 outline-black/50 rounded border-hidden;
    @apply dark:outline-white/50;
}

th, td {
    @apply p-2.5 border-2 border-neutral-400;
    @apply dark:border-neutral-600;
}

th {
    @apply bg-neutral-300;
    @apply dark:bg-neutral-700;
}

td {
    @apply bg-neutral-200;
    @apply dark:bg-neutral-800;
}

@layer base {
    ul, ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    a {
        text-decoration: revert;
    }
}

/* experimental view transition stuff */

/*
::view-transition {

}
 */

@media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}